<div class="login-box">
  <%= link_to "Log in with Facebook", user_omniauth_authorize_path(:facebook) %>
</div>

<% if current_user.present? %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "category" %>
  <%= link_to "Profile", user_path(current_user) %>
<% end %>

